<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    获取设置bean对象里面的属性-->

<!--    setter注入-->
<!--    <bean id = "cheysun" class="com.chey.dao.PersonDao">-->
<!--        <property name="name" value="chey"/>-->
<!--    </bean>-->

<!--    别名-->
<!--    <alias name="cheysun" alias="chey"/>-->

<!--    生命周期-->
<!--    <bean id="animalDao" class="com.chey.dao.AnimalDao" scope="singleton"/>-->

<!--    自动绑定-->
<!--    <bean id="person" class="com.chey.dao.PersonDao" autowire="byType"/>-->

<!--    setter 别名法二-->
<!--    <bean id="gougou" class="com.chey.dao.AnimalDao" name="xiaogou gou,xiaogougou;dog">-->
<!--        <property name="sex" value="male"/>-->
<!--    </bean>-->


</beans>